@import url("alabaster.css");

/* For the headline */

/* For pull-quote */
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,latin-ext);
/*@import url(http://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400,400italic);*/
/*@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic&subset=latin,latin-ext);*/
/*@import url(http://fonts.googleapis.com/css?family=Niconne);*/
/*@import url(http://fonts.googleapis.com/css?family=Parisienne);*/
/*@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script);*/
/*@import url(http://fonts.googleapis.com/css?family=Alex+Brush);*/
/*@import url(http://fonts.googleapis.com/css?family=Italianno);*/
/*@import url(http://fonts.googleapis.com/css?family=Playball);*/
/*@import url(http://fonts.googleapis.com/css?family=Dynalight);*/
/*@import url(http://fonts.googleapis.com/css?family=Noto+Serif);*/
@import url(http://fonts.googleapis.com/css?family=Cardo);

.strike {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

.emphasis {
	font-style: italic;
}

cite {
	/* Override Firefox */
	font-style: normal;
	font-variant: small-caps;
}

.nodisplay {
	display: none;
}

.altstyle {
	color: hsl(100, 100%, 12%);
	font-style: oblique;
}

blockquote.pull-quote {
	font-family: 'Cardo', serif;
	/*font-size: 150%;*/
	font-style: italic;
	border-left: solid 3px #aaa;
	/*padding-left: 1em;*/
	margin-left: 2em;
	padding: .6em 0px .6em 1em ; /* top right bottom left */
	/*border-radius: 2em;*/
	/*letter-spacing: 0.03em;*/
	/*font-stretch: expanded;*/
	/*font-stretch: condensed;*/
	/*font-variant: unicase;*/
}

blockquote.pull-quote > div > p:first-child {
	margin-top: 0px;
}

blockquote.pull-quote > div > p:last-child {
	margin-bottom: 0px;
}

blockquote.pull-quote > div > ol:only-child {
	padding-left: 20px;
}



@media print {
	.altstyle {
		text-decoration: underline;
		color: inherit;
	}

	a {
		color: inherit;
	}

	a:visited {
		color: inherit;
	}

	div.body {
		max-width: inherit; /* overrides the 30em default */
		font-size: 70%;
	}

	div.body p,
	div.body li,
	div.body td,
/*	div.body table.footnote > tbody > tr > td,
	div.body table.field-list > tbody > tr > td,
*/	div.body div.admonition,
	div.body blockquote.pull-quote > div,
	div.body dd {
		max-width: 40em;
	}
}

div.body {
	max-width: 70em;
	padding: 0px 30px 50px;
}

div.headline-title {
	font-family: 'PT Serif', serif;
	font-size: 18pt;
	margin: 1em 0pt;
	font-weight: bold;
}

div.headline-title p {
	margin: 0px 0px 0.3em;
}

div.headline-title, div.headline-title p {
	text-align: center;
}

div.headline-title blockquote {
	font-size: 14pt;
	margin: 0em;
	font-weight: normal;
	font-style: italic;
}

div.headline-author {
	margin: 2em 0px;
}

div.headline-author, div.headline-author div, div.headline-author p {
	font-family: 'PT Serif', serif;
	font-size: 14pt;
	text-align: center;
}

div.headline-author ul {
	/* Override the user agent defaults */
	margin: 0.3em;
	padding: 0px;
}

div.headline-author ul li + li {
	margin-left: 4em;
}

div.headline-author ul > li {
	display: inline-block;
}

.phab-subscript {
	vertical-align: +8%;
	font-size: 85%;
}

div.compound { margin: 1em 0em; }

div.compound > p, div.compound > div.force-inline, div.compound > div.force-inline > p {
	display: inline;
}

div.conditional-second-part {
	border: dashed thin;
	padding: .1em .2em;
	margin: .2em .2em;
	border-radius: .5em;
}

h1, h2, h3, h4, h5, h6 {
	page-break-inside: avoid;
	page-break-after: avoid;
}

div.math {
	page-break-before: avoid;
	page-break-inside: avoid;
}

/* Copied from div.warning in classic.css */

div.important {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

div.important code {
    background: #efc2c2;
}

pre {
	background-color: #f3fff3;
	border-color: #bda;
}

div.sidebar.sidebar-wide-cleared {
	width: 75%;
	margin: 1rem 0rem;
	padding: 1.2rem;
}

div.sidebar.sidebar-smaller {
	font-size: 80%;
}

div.sidebar.sidebar-wide-cleared + * {
	clear: both;	
}

div.admonition.admonition-inline {
    background-color: inherit;
    border: none;
    margin: inherit;
    padding: 0px;
}

div.admonition.admonition-inline > p.admonition-title:after {
    content: ".";
}

div.admonition.admonition-inline > p.last {
	font-style: italic;
}
div.admonition.admonition-inline > p.last em {
	font-style: normal;
}

div.figure {
	border: thin solid #aaa;
	margin: .3rem 1rem;
	padding: 0rem 1rem;
}

/* We need to specify "div.figure" here to make
 * this rule more specific than the standard Sphinx
 * rule for "div.body p".
 */
div.figure p.float-caption {
	/*text-align: center;*/
}

p.float-caption > .float-caption-nontext {
	font-weight: bold;
}
p.float-caption > .float-caption-text {
	/*font-style: italic;*/
}

div.abstract-container, div.keywords-container, div.genterms-container {
	margin: .5rem 0rem;
	max-width: 40em;
	font-size: 75%;
	text-align: justify;
}

span.abstract-header, span.keywords-header, span.genterms-header {
	font-weight: bold;
	/*font-style: italic;*/
	margin-right: 1.5em;
}

span.keywords-header, span.genterms-header {
	font-style: italic;
}

span.abstract-content > p:first-child, span.keywords-content > p:first-child, span.genterms-content > p:first-child {
	display: inline;
}

/* thmlike */

.thmlike-type {
	font-weight: bold;
}

.thmlike-caption {
	margin-right: 1em;
}

.thmlike-caption:after {
	content: ".";
}

.thmlike-alt {
	font-style: italic;
}

.thmlike-content > p:first-child {
	display: inline;
}

.thmlike-content > :nth-child(n+2) { /* All except the first child or maths */
	margin-left: 1rem;
}

.thmlike-content > .math:nth-child(n+2),
.thmlike-content > span:nth-child(n+2),
.thmlike-content > em:nth-child(n+2)
 {
	margin-left: 0;
}

/* thmlike: special cases */

.thmlike-type.thmlike-type-example {
	font-weight: inherit;
	font-style: italic;
}
.thmlike-caption.thmlike-type-example {
	margin-right: inherit;
}

/* Proofs */

span.proof-header {
	font-style: italic;
}

span.proof-content > p:first-child {
	display: inline;
}

span.proof-content:after {
	display: block;
	content: "☐";
	text-align: right;
}

code.float-reference,
code.thmlike-label,
code.float-caption-label,
code.latex-reference {
	font-size: 75%;
}

/* Override Alabaster's grayness */

div.body {
	color: black;
}

div.skip-big {
	height: 1.5rem;
}
div.skip-xxlarge {
	height: 50rem;

	/* Flexbox properties */
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

div.skip-xxlarge:before, div.skip-xxlarge:after {
	content: "- space intentionally left blank -";
	color: #888;
	font-variant: small-caps;
	margin: 2rem 0;
	text-align: center;
}

/* More space around <code>, which corresponds to `` */

code {
	padding: 3px;
}

/* Patch Alabaster v0.7.6's inability to
 * distinguish nested lists in narrow screens.
 * 
 * https://github.com/bitprophet/alabaster/issues/45
 * https://github.com/bitprophet/alabaster/pull/46
 * 
 * */

@media screen and (max-width: 870px) {

	li > ul {
		margin-left: 30px;
	}

}


@media print {

	div.math, div.thmlike-container {
		max-width: 40em;
	}

	div.body {
		font-size: 90%;
	}

}

pre {
	margin: 5px 0px;
	padding: 4px 30px;
}